.react-calendar__tile:disabled {
  color: rgb(128, 128, 128);
}
.react-calendar {
  width: 100%;
}

.react-calendar__month-view__days__day {
  height: 7vw;
  @media (max-width: 1200px) {
    width: 2vw;
    max-width: 2vw;
    padding: 1vw;
  }
}