.item-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 250px;
    min-height: 50px;
    padding: 10px;
    border-bottom: 1px solid grey;
    cursor: pointer;
    .item-select-price {
        color: grey
    }
}

.items {
    margin: 10px;
}