$darkMain: #F6D42A;
$lightMain: rgb(247, 232, 158);
$darkred: #F62F2A;
$blue: #6db7c4;
$mainBackground: #5e757e;
$white: #ffffff;
$green: #2ECC71;
$orange: #f89212;

$grey200: #e5e5e5;
$grey300: #bebebe;
$grey50: #f7f7f7;
$grey600: #666666;

$mq-small: 480px;
$mq-medium: 800px;
$mq-large: 1024px;