$darkMain: #F6D42A;
$lightMain: rgb(247, 232, 158);
$darkred: #F62F2A;
$blue: #6db7c4;
$mainBackground: #5e757e;
$white: #ffffff;
$green: #19cb94;

$mq-small: 400px;
$mq-medium: 700px;
$mq-large: 1024px;